@import "../common/index";

.b-icon {
  display: inline-block;
  position: relative;
  width: $default-icon-side;
  height: $default-icon-side;

  overflow: hidden;
  text-indent: -9999px;
  line-height: 0;

  background-size: $default-icon-side $default-icon-side;

  &--cart {
    background-image: url("../../../node_modules/feather-icons/dist/icons/shopping-cart.svg");
  }

  &--mail {
    background-image: url("../../../node_modules/feather-icons/dist/icons/mail.svg");
  }

  &--box {
    background-image: url("../../../node_modules/feather-icons/dist/icons/box.svg");
  }

  &--disc {
    background-image: url("../../../node_modules/feather-icons/dist/icons/box.svg");
  }

  &--hamburger {
    background-image: url("../../../node_modules/feather-icons/dist/icons/menu.svg");
  }
}