@import "../common/index";

.b-icon {
  display: inline-block;
  position: relative;
  width: $default-icon-side;
  height: $default-icon-side;

  overflow: hidden;

  line-height: 0;

  &--home {
    background-image: url("../../../node_modules/feather-icons/dist/icons/home.svg");
    background-size: $default-icon-side $default-icon-side;
    text-indent: -9999px;
  }

  &--hamburger {
    background-image: url("../../../node_modules/feather-icons/dist/icons/menu.svg");
    background-size: $default-icon-side $default-icon-side;
    text-indent: -9999px;
  }
}