@import "../../components/common/index";

.b-menu {
  display: block;

  &__row {
    display: block;
    position: relative;
    min-height: $default-icon-side + $menu-side-indent;
  }

  &__toggle {
    display: block;
    width: $default-icon-side + $menu-side-indent;
    height: $default-icon-side + $menu-side-indent;
    position: absolute;
    top: 0;
    right: 0;

    background: transparent url("../../../node_modules/feather-icons/dist/icons/chevron-down.svg") center center no-repeat;

    cursor: pointer;

    &--expanded {
      background-image: url("../../../node_modules/feather-icons/dist/icons/chevron-up.svg");
    }
  }

  &__link {
    display: inline-flex;
    min-height: $default-icon-side + $menu-side-indent;
    max-width: calc(100% - #{$default-icon-side + $menu-side-indent});
    align-items: center;
    padding: $menu-side-indent/2 0 $menu-side-indent/2 $menu-side-indent;
    white-space: nowrap;
    text-decoration: none;

    font: .82em sans-serif;
    color: #555;

    &:hover, &:focus {
      text-decoration: underline;
    }

    &--current {
      color: $brand-color;
      font-weight: bold;

      &:before {
        display: inline;
        content: "•";
        position: absolute;
        margin-left: $default-icon-side;
        visibility: hidden;
      }

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  &__text {
    display: block;
    padding: 0 $menu-side-indent/2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__row > &__row &__icon {
    visibility: hidden;
  }

  &__row > &__row &__link--current:before {
    visibility: visible;
  }

  &--collapsed {
    .b-menu__text, .b-menu__toggle {
      display: none;
    }

    .b-menu__link {
      display: flex;
      max-width: none;
    }

    .b-menu__row > .b-menu__row {
      display: none;
    }
  }
}