@import "../../components/common/index";

.b-nav {
  position: relative;
  display: block;

  background-color: #555;

  &__menu {
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    width: $menu-width_open;
    overflow-y: auto;

    border-right: solid 1px $line-color;
    background-color: #fff;

    .b-nav--collapsed & {
      width: $menu-width_closed;
    }
  }

  &__header {
    position: fixed;
    top: 0;
    right: 0;
    left: $menu-width_open;
    height: $header-height;
    display: flex;
    padding-left: $icon-width-default;

    line-height: $header-height;

    background-color: #fff;
    border-bottom: solid 1px $line-color;

    .b-nav--collapsed & {
      left: $menu-width_closed;
    }
  }

  &__logo {
    display: block;
    height: 70%;
    align-self: center;
  }

  &__toggle {
    position: fixed;
    top: 0;
    width: $menu-width_open;
    padding: $menu-side-indent $menu-side-indent $header-height - $menu-side-indent - $icon-width-default $menu-side-indent;

    border-right: solid 1px $line-color;
    background-color: #fff;
    z-index: 10;

    cursor: pointer;

    .b-nav--collapsed & {
      width: $menu-width_closed;
    }
  }
}