@import "../../components/common/index";

.b-nav {
  position: relative;

  background-color: #555;

  &__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $menu-width_open;

    border-right: solid 1px $line-color;
    background-color: #fff;

    .b-nav--collapsed & {
      width: $menu-width_closed;
    }
  }

  &__header {
    position: fixed;
    top: 0;
    right: 0;
    left: $menu-width_open;
    height: $header-height;
    line-height: $header-height;

    background-color: #fff;
    border-bottom: solid 1px $line-color;

    .b-nav--collapsed & {
      left: $menu-width_closed;
    }
  }

  &__toggle {
    padding: $menu-side-indent $menu-side-indent $header-height - $menu-side-indent - $default-icon-side $menu-side-indent;
    cursor: pointer;
  }
}