$line-color: #aaa;
$brand-color: #620267;

$icon-width-default: 24px;

$menu-width_open: 300px;
$menu-side-indent: 18px;
$menu-width_closed: $icon-width-default + 2 * $menu-side-indent;

$header-height: $icon-width-default + 2 * $menu-side-indent;
